/*Styling CSS for ProfessionalPortfolioCRH*/
/*Authored by Charissa Hollister on 04/19/22*/

* {
    padding: 0;
    margin: 0;
}

/*variables*/

:root {
    --primary-color: #e56fea;
    --secondary-color: ivory;
    --bg-color:  #2a607c;
    --bg-color2: #0076c6;
    --padding: 20px;
    --blur: 10px;
}






/*general selectors*/

.float-right {
    float: right;
    margin-left: 25px;
}

/*add screen size responsiveness*/


/*--headline with quicklinks*/
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.header h2{
    font-size: 48px;
}

nav {
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
}

nav div{
    margin: 0 25px;
}

nav a {
    color: var(--primary-color);
}

nav a:hover{
    color: var(--secondary-color);
}

/*hero background image and subtitle*/

.heropg {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/digital\ computer\ wallpapers.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    border: black 1px solid;
}

.heropg p{
position: absolute;
right: 0;
bottom:20px;
width: 32vw;
min-width: 250px;
height: 100px;
border: black 0.5px dashed;
opacity: 70%;
background: linear-gradient(to right,var(--secondary-color),var(--primary-color));
font-size: 40px;
text-align: right;

line-height: 100px;
border-right: none;
border-top-left-radius: 12px;
border-top-right-radius: 0;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 0;

}


/*about me and contact left column*/

.aboutMe, .contactMe{
    display: flex;
 justify-content: left;
padding: 12px 0;
}
.aboutMe aside, .contactMe aside{
    width:30vw;
    min-width: 50px;
    display: flex;
justify-content: right;
align-items: center;
border-right: 1px solid var(--primary-color);
}

.aboutMe h3, .contactMe h3{
    padding: 0 20px 0 10px;
}

.aboutMe p{
    padding: 15px 20px;
}
/*about me*/

/*work*/

    /*flex box for work section 
    left and right columns*/
.workSec{
    display: flex;
    width: 100vw;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 20px;
    border: none;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.leftProj, .rightProj{
    width:25vw;
    min-height: 500px;
    margin:auto;
    justify-content: center;
    text-align: center;
/*figure out how to space evenly vertical*/
}
    /*center block*/
.centerBlock img{
    width: 30vw;
    text-align: center;
}

.ProjImg{
    height: 150px;
    width: 22vw;
}

/*figure out how to move title to middle of project img*/


.OtherProj{
    width:100vw;
    padding:5px 25vw;
    justify-content: center;
}
.OtherProj img{
    width: 50vw;
    min-width: 200px;
    height:auto;
    min-height: 75px;
    max-height: 150px;
}
/*contact me*/

/*.contactMe{
 display:flex;
 margin: 20px 0px;
 padding: 20px;
 align-items: center;
 position: relative;
}
/*how to center vertically*/


.contactMe ul{
    padding-top: 15px;
    display: flex;
    width: 75%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    list-style-type: none;
    text-align: right;
    
}
.contactMe ul li{
    display: inline-block;

}
.contactMe a{
color: darkmagenta;

}
.contactMe a:hover{
    color: black;
}







/*footer*/
footer {
    padding: 20px;
    padding-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

footer h2{
    display: inline-block;
    font-size: 48px;
}

footer p {
    padding-top: 10px;
    margin-right: 20px;
    padding-right: 70px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: var(--primary-color);
}
